

nav{
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.logo{
    width: 2.5%;
}

.nav-links{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-size: 24px;
}